body {
	margin: 0;
	padding: 0;
	background-color: orange;
}

.divWrapper {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	background-color: red;
}

div span {
	cursor: pointer;
	align-self: center;
	justify-self: center;
	padding: 3%;
}